listen_addresses = '*'
port = 5432
max_connections = 200
superuser_reserved_connections = 3
shared_buffers = 256MB
effective_cache_size = 768MB
maintenance_work_mem = 64MB
work_mem = 4MB
wal_level = replica
wal_log_hints = on
max_wal_size = 1GB
min_wal_size = 80MB
wal_keep_size = 512MB
archive_mode = on
archive_command = 'test ! -f /backup/wal/%f && cp %p /backup/wal/%f'
archive_timeout = 300
max_wal_senders = 4
max_replication_slots = 4
hot_standby = on
log_destination = 'stderr'
logging_collector = on
log_directory = 'log'
log_filename = 'postgresql-%Y-%m-%d_%H%M%S.log'
log_rotation_age = 1d
log_rotation_size = 100MB
log_min_duration_statement = 1000
log_line_prefix = '%t [%p]: [%l-1] user=%u,db=%d,app=%a,client=%h '
log_checkpoints = on
log_connections = on
log_disconnections = on
log_lock_waits = on
random_page_cost = 1.1
effective_io_concurrency = 200
lc_messages = 'ru_RU.utf8'
lc_monetary = 'ru_RU.utf8'
lc_numeric = 'ru_RU.utf8'
lc_time = 'ru_RU.utf8'
default_text_search_config = 'pg_catalog.russian'
